html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;
}

/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nt mn mn sb . . . ";
  background-color: #141414;
  width: 100%;
  margin-bottom: 0px;
}

.netflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;

  padding-left: 30px;
  padding-top: 0px;
}

.netflixLogo img {
  height: 35px;
}

.principal {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.principal a {
  color: #f3f3f3;
  text-decoration: none;
  margin: 5px;
}

.principal a:hover {
  color: #686868;
}

.secundario {
  grid-area: sb;
  padding: 0 40px 0 40px;
}


/* MAIN CONTIANER */
.principalContainer {
  padding: 50px;
  margin: 0px;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, minmax(90px, 1fr));
}





